{
  "openapi": "3.1.0",
  "info": {
    "title": "Universal Knowledge Graph (UKG) Canonical API",
    "version": "3.2.1",
    "description": "Enterprise-grade AI enhancement overlay integrating:\n- 17-Axis Coordinate System (Pillar\u2192Sector\u2192Honeycomb\u2192Branch\u2192Node\u2192Octopus\u2192Spiderweb + Personas + Location/Time + Enterprise)\n- Quad Persona System (Knowledge, Sector, Regulatory, Compliance experts from Axes 8-11)\n- 10-Layer Simulation Stack (Context Init \u2192 Emergence Detection)\n- 12-Step Refinement Workflow (AoT\u2192ToT\u2192Validation\u2192Synthesis)\n- Truth Engine v7.3 (TruthGate, TruthCore, TruthMemory, TruthLink)\n\nThis API transforms any LLM into a validated, traceable, enterprise-ready reasoning system\nwith complete audit trails and 99.5%+ confidence targets for high-stakes domains.\n\n**Core Principle**: LLMs are execution backends, not authorities. The UKG overlay provides\nthe reasoning framework, validation, and governance.\n\n**Version 3.2 Enhancements**:\n- Added cost estimation endpoint\n- Enhanced streaming protocol with WebSocket details\n- Added knowledge ingestion endpoints\n- Improved pagination support across all list operations\n- Enhanced rate limiting with detailed headers\n- Added batch status tracking\n- Strengthened schema validation patterns\n- Added comprehensive response headers\n- Added graph snapshot and diff capabilities\n",
    "contact": {
      "name": "UKG API Support",
      "email": "api@ukg.ai",
      "url": "https://docs.ukg.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-ukg-system": {
      "axis_system": "17-axis",
      "truth_engine": "TruthGate+TruthCore+TruthMemory+TruthAudit",
      "workflow_version": "2.5"
    }
  },
  "servers": [
    {
      "url": "https://api.ukg.ai/v1",
      "description": "Production UKG API"
    },
    {
      "url": "https://staging.api.ukg.ai/v1",
      "description": "Staging environment"
    },
    {
      "url": "https://api.ukg.ai/v1/{tenant}",
      "description": "Multi-tenant production",
      "variables": {
        "tenant": {
          "default": "default",
          "description": "Tenant identifier for enterprise deployments"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Enhancement",
      "description": "Core UKG enhancement operations"
    },
    {
      "name": "17-Axis System",
      "description": "Coordinate resolution and axis operations"
    },
    {
      "name": "Quad Personas",
      "description": "Expert persona management (Axes 8-11)"
    },
    {
      "name": "10-Layer Stack",
      "description": "Simulation layer operations"
    },
    {
      "name": "12-Step Refinement",
      "description": "Refinement workflow operations"
    },
    {
      "name": "Truth Engine",
      "description": "Truth Engine v7.3 components (Gate/Core/Memory/Link)"
    },
    {
      "name": "Knowledge Graph",
      "description": "Knowledge graph queries and traversal"
    },
    {
      "name": "Audit & Compliance",
      "description": "Audit trail and compliance operations"
    },
    {
      "name": "Analytics",
      "description": "Usage analytics and insights"
    },
    {
      "name": "System",
      "description": "System health and status operations"
    },
    {
      "name": "Workflow",
      "description": "Run and route the 10-layer simulation stack and 12-step refinement workflow with tiered execution."
    },
    {
      "name": "TruthEngine",
      "description": "Four-part Truth Engine: TruthGate, TruthCore, TruthMemory, TruthAudit."
    },
    {
      "name": "KAs",
      "description": "Knowledge Algorithms (KA) registry and execution metadata."
    },
    {
      "name": "Axis",
      "description": "UKG/USKD axis systems and coordinate utilities (including 17-axis)."
    },
    {
      "name": "Audit",
      "description": "Audit events, traces, and governance artifacts."
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/enhance": {
      "post": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Enhance AI query with full UKG validation",
        "description": "Primary endpoint for UKG enhancement. Processes query through:\n1. TruthGate (security, triage, tier assignment)\n2. 17-Axis coordinate resolution\n3. 10-Layer simulation stack (complexity-routed)\n4. Quad Persona orchestration (Axes 8-11)\n5. 12-Step refinement workflow\n6. TruthMemory audit trail generation\n\nReturns validated response with complete traceability.\n\n**SLA Performance Targets by Tier**:\n- Trivial: < 2s (direct RAG lookup)\n- Moderate: < 5s (hybrid RAG + Chain-of-Thought)\n- High-Stakes: < 15s (full 12-step refinement)\n- Extreme: < 30s (+ GNN/NN/Quantum simulations)\n- Autonomous: Async (multi-agent planning with governance)\n",
        "operationId": "enhanceQuery_fullValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhanceRequest"
              },
              "examples": {
                "healthcare_compliance": {
                  "summary": "Healthcare GDPR compliance query",
                  "value": {
                    "request_id": "req_healthcare_001",
                    "query": "Analyze GDPR compliance requirements for healthcare AI in EU",
                    "axis_hints": {
                      "axis_1_pillar": "PL0012",
                      "axis_2_industry": "NAICS-621111",
                      "axis_12_location": {
                        "country": "EU",
                        "region": "Germany"
                      }
                    },
                    "truth_engine": {
                      "tier": "high_stakes",
                      "enable_gate_security": true,
                      "enable_memory_audit": true
                    },
                    "refinement": {
                      "confidence_threshold": 0.995,
                      "max_iterations": 3
                    }
                  }
                },
                "financial_risk": {
                  "summary": "Financial risk assessment",
                  "value": {
                    "request_id": "req_finance_001",
                    "query": "Assess systemic risk in derivatives portfolio",
                    "axis_hints": {
                      "axis_1_pillar": "PL0045",
                      "axis_2_industry": "NAICS-522110",
                      "axis_15_risk": "extreme"
                    },
                    "truth_engine": {
                      "tier": "extreme"
                    },
                    "options": {
                      "compliance_frameworks": [
                        "SOC2",
                        "Basel_III"
                      ]
                    }
                  }
                },
                "legal_contract_analysis": {
                  "summary": "Legal contract review",
                  "value": {
                    "request_id": "req_legal_001",
                    "query": "Review commercial lease for compliance with California law",
                    "axis_hints": {
                      "axis_1_pillar": "PL0055",
                      "axis_2_industry": "NAICS-531120",
                      "axis_10_regulatory": {
                        "regulatory_framework": "California_Commercial_Code"
                      },
                      "axis_12_location": {
                        "country": "US",
                        "region": "California"
                      }
                    },
                    "truth_engine": {
                      "tier": "high_stakes"
                    },
                    "refinement": {
                      "confidence_threshold": 0.995
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully enhanced response with validation",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Unique request identifier for tracking"
              },
              "X-Processing-Time-Ms": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total processing time in milliseconds"
              },
              "X-Confidence-Score": {
                "schema": {
                  "type": "number",
                  "minimum": 0.0,
                  "maximum": 1.0
                },
                "description": "Overall confidence score"
              },
              "X-Cost-USD": {
                "schema": {
                  "type": "number"
                },
                "description": "Total cost in USD for this request"
              },
              "X-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "trivial",
                    "moderate",
                    "high_stakes",
                    "extreme",
                    "autonomous"
                  ]
                },
                "description": "Processing tier assigned"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests per hour allowed for this tier"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": "When the rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/enhance/estimate": {
      "post": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Estimate processing cost before execution",
        "description": "Returns estimated cost and processing time without actually executing the query.\nUseful for budgeting and optimization decisions before committing to full enhancement.\n\nThis endpoint analyzes the query and axis hints to predict:\n- Optimal processing tier\n- Estimated processing time\n- Estimated cost breakdown\n- Resource requirements\n\n**No charges apply** for estimation calls.\n",
        "operationId": "estimateEnhancementCost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost estimation complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "estimated_cost_usd",
                    "estimated_time_ms",
                    "recommended_tier"
                  ],
                  "properties": {
                    "estimated_cost_usd": {
                      "type": "number",
                      "description": "Total estimated cost in USD",
                      "example": 0.0245
                    },
                    "estimated_time_ms": {
                      "type": "number",
                      "description": "Estimated processing time in milliseconds",
                      "example": 8500
                    },
                    "recommended_tier": {
                      "type": "string",
                      "enum": [
                        "trivial",
                        "moderate",
                        "high_stakes",
                        "extreme",
                        "autonomous"
                      ],
                      "description": "Recommended processing tier for this query"
                    },
                    "breakdown": {
                      "type": "object",
                      "description": "Cost breakdown by component",
                      "properties": {
                        "llm_api_cost": {
                          "type": "number",
                          "description": "Estimated LLM API costs"
                        },
                        "knowledge_graph_queries": {
                          "type": "number",
                          "description": "Graph database query costs"
                        },
                        "vector_operations": {
                          "type": "number",
                          "description": "Vector database operation costs"
                        },
                        "compute_resources": {
                          "type": "number",
                          "description": "Computational resource costs"
                        }
                      }
                    },
                    "resource_requirements": {
                      "type": "object",
                      "properties": {
                        "estimated_tokens": {
                          "type": "integer",
                          "description": "Estimated token count for LLM calls"
                        },
                        "graph_queries": {
                          "type": "integer",
                          "description": "Estimated number of graph queries"
                        },
                        "personas_required": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "layers_invoked": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "optimization_suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Suggestions to reduce cost/time",
                      "example": [
                        "Consider reducing confidence threshold from 0.995 to 0.95 to save 30% processing time",
                        "Query could be handled by 'moderate' tier instead of 'high_stakes'"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/enhance/stream": {
      "post": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Stream enhanced response progressively",
        "description": "WebSocket upgrade for streaming responses. Returns progressive updates as\nlayers and refinement steps complete.\n\n**WebSocket Streaming Protocol**:\n\n1. Client initiates WebSocket connection and sends EnhanceRequest\n2. Server responds with events in JSON format:\n   - `layer_start`: {layer: 1, name: \"Context Init\", timestamp: \"...\"}\n   - `layer_complete`: {layer: 1, output: {...}, execution_time_ms: 124}\n   - `persona_analysis`: {persona: \"knowledge_expert\", analysis: \"...\", confidence: 0.92}\n   - `confidence_update`: {iteration: 2, confidence: 0.978, step: \"Evidence Validation\"}\n   - `refinement_iteration`: {iteration: 3, steps_completed: 8, current_confidence: 0.994}\n   - `final_answer`: {answer: {...}, audit_trail: {...}, metadata: {...}}\n   - `error`: {code: \"...\", message: \"...\", recoverable: true/false}\n\n3. Client can send control messages:\n   - `pause`: Temporarily pause processing\n   - `resume`: Resume paused processing\n   - `cancel`: Cancel processing (partial audit trail returned)\n   \nAll events include a `sequence_number` for ordering and `timestamp` for latency tracking.\n\n**Connection Management**:\n- Heartbeat/ping every 30s to keep connection alive\n- Maximum connection duration: 5 minutes\n- Automatic reconnection support with `resume_token`\n",
        "operationId": "enhanceQuery_stream_progressive",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhanceRequest"
              }
            }
          }
        },
        "responses": {
          "101": {
            "description": "Switching Protocols to WebSocket",
            "headers": {
              "Upgrade": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "websocket"
                  ]
                },
                "description": "Protocol upgrade to WebSocket"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Upgrade"
                  ]
                }
              },
              "Sec-WebSocket-Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "WebSocket accept hash"
              },
              "Sec-WebSocket-Protocol": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "ukg-stream-v1"
                  ]
                },
                "description": "UKG streaming protocol version"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/enhance/batch": {
      "post": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Batch enhancement for multiple queries",
        "description": "Submit multiple queries for asynchronous batch processing.\nReturns job ID for status tracking.\n\n**Batch Processing**:\n- Maximum 1000 queries per batch\n- Queries processed in parallel where possible\n- Results available via polling or webhook callback\n- Batch jobs expire after 7 days\n\n**Priority Levels**:\n- `low`: Processed during off-peak hours (cheapest)\n- `normal`: Standard processing queue\n- `high`: Priority processing (premium pricing)\n",
        "operationId": "enhanceBatch_async",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "batch_id",
                  "queries"
                ],
                "properties": {
                  "batch_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Client-provided batch identifier"
                  },
                  "queries": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnhanceRequest"
                    },
                    "minItems": 1,
                    "maxItems": 1000,
                    "description": "Array of queries to process"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "low",
                      "normal",
                      "high"
                    ],
                    "default": "normal",
                    "description": "Processing priority level"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for completion notification"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional metadata for tracking"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "batch_id",
                    "status",
                    "total_queries",
                    "status_url"
                  ],
                  "properties": {
                    "batch_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed",
                        "partial"
                      ]
                    },
                    "total_queries": {
                      "type": "integer"
                    },
                    "estimated_completion": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "estimated_cost_usd": {
                      "type": "number"
                    },
                    "status_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to check batch status"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/enhance/batch/{batch_id}/status": {
      "get": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Get batch processing status",
        "description": "Retrieve current status of batch processing job.\n\nPoll this endpoint to track progress. Consider using webhooks\nfor large batches instead of frequent polling.\n",
        "operationId": "getBatchStatus",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "batch_id",
                    "status",
                    "total",
                    "completed",
                    "in_progress",
                    "failed"
                  ],
                  "properties": {
                    "batch_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed",
                        "partial"
                      ]
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of queries in batch"
                    },
                    "completed": {
                      "type": "integer",
                      "description": "Number of queries completed successfully"
                    },
                    "failed": {
                      "type": "integer",
                      "description": "Number of queries that failed"
                    },
                    "in_progress": {
                      "type": "integer",
                      "description": "Number of queries currently processing"
                    },
                    "queued": {
                      "type": "integer",
                      "description": "Number of queries waiting to process"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "completed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "estimated_completion": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "results_available": {
                      "type": "boolean",
                      "description": "Whether results are ready for download"
                    },
                    "results_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to download results (if available)"
                    },
                    "results_expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When results will be deleted (7 days)"
                    },
                    "total_cost_usd": {
                      "type": "number"
                    },
                    "error_summary": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "request_id": {
                            "type": "string"
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "error_message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Batch not found"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/enhance/batch/{batch_id}/results": {
      "get": {
        "tags": [
          "Enhancement"
        ],
        "summary": "Download batch results",
        "description": "Download all results from completed batch processing.\n\nResults are available for 7 days after completion.\nFormat can be JSON (default) or JSONL for large batches.\n",
        "operationId": "getBatchResults",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "jsonl",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "include_audit_trails",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include full audit trails (increases size significantly)"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string"
                    },
                    "total_queries": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "request_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success",
                              "failed"
                            ]
                          },
                          "response": {
                            "$ref": "#/components/schemas/EnhancedResponse"
                          },
                          "error": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "Newline-delimited JSON for streaming large results"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found or results expired"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/ingest": {
      "post": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Ingest new data into knowledge graph",
        "description": "Ingest documents, data, or knowledge into the UKG knowledge graph.\n\n**Supported Data Types**:\n- Documents (PDF, DOCX, TXT, MD, HTML)\n- Structured data (JSON, CSV, XML)\n- APIs and web sources\n- Database dumps\n\n**Processing Pipeline**:\n1. Parse and extract content\n2. Map to 17-axis coordinates\n3. Perform delta fusion with existing knowledge\n4. Update graph with new/changed nodes\n5. Maintain provenance and audit trail\n\n**Delta Fusion**:\n- Compares new data with existing knowledge\n- Merges, updates, or quarantines based on confidence\n- Handles conflicts using Knowledge Integration Matrix rules\n- Preserves source attribution\n\nLarge ingestion jobs are processed asynchronously.\n",
        "operationId": "ingestKnowledge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ingestion_id",
                  "data_source"
                ],
                "properties": {
                  "ingestion_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "data_source": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "document",
                          "structured",
                          "api",
                          "database",
                          "text"
                        ]
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "pdf",
                          "docx",
                          "txt",
                          "md",
                          "html",
                          "json",
                          "csv",
                          "xml",
                          "sql"
                        ]
                      },
                      "content": {
                        "type": "string",
                        "description": "Base64-encoded content or inline text"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to fetch content from"
                      }
                    }
                  },
                  "axis_hints": {
                    "$ref": "#/components/schemas/AxisHints",
                    "description": "Hints for axis mapping"
                  },
                  "processing_options": {
                    "type": "object",
                    "properties": {
                      "delta_fusion_strategy": {
                        "type": "string",
                        "enum": [
                          "merge",
                          "update",
                          "quarantine",
                          "replace"
                        ],
                        "default": "merge"
                      },
                      "confidence_threshold": {
                        "type": "number",
                        "minimum": 0.0,
                        "maximum": 1.0,
                        "default": 0.95,
                        "description": "Minimum confidence to accept new knowledge"
                      },
                      "enable_nlp_extraction": {
                        "type": "boolean",
                        "default": true
                      },
                      "enable_entity_linking": {
                        "type": "boolean",
                        "default": true
                      },
                      "preserve_source_document": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "string"
                      },
                      "author": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Ingestion job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ingestion_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "status_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data format or unsupported type"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/ingest/{ingestion_id}/status": {
      "get": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Get ingestion status",
        "description": "Track status of knowledge ingestion job",
        "operationId": "getIngestionStatus",
        "parameters": [
          {
            "name": "ingestion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ingestion status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ingestion_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        },
                        "processed_items": {
                          "type": "integer"
                        },
                        "failed_items": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "nodes_created": {
                          "type": "integer"
                        },
                        "nodes_updated": {
                          "type": "integer"
                        },
                        "relationships_created": {
                          "type": "integer"
                        },
                        "conflicts_detected": {
                          "type": "integer"
                        },
                        "items_quarantined": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/graph/snapshot": {
      "post": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Create knowledge graph snapshot",
        "description": "Create a point-in-time snapshot of the knowledge graph for:\n- Disaster recovery\n- Version control\n- A/B testing different knowledge states\n- Rollback capability\n\nSnapshots are stored with metadata and can be restored or compared.\n",
        "operationId": "createGraphSnapshot",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "snapshot_name"
                ],
                "properties": {
                  "snapshot_name": {
                    "type": "string",
                    "description": "Descriptive name for snapshot"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description"
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "axis_filter": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "Only snapshot specific axes (empty = all)"
                      },
                      "pillar_filter": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only snapshot specific pillars"
                      }
                    }
                  },
                  "retention_days": {
                    "type": "integer",
                    "default": 90,
                    "description": "How long to keep snapshot"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Snapshot creation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "snapshot_name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "creating",
                        "completed",
                        "failed"
                      ]
                    },
                    "estimated_completion": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/graph/snapshot/{snapshot_id}": {
      "get": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Get snapshot details",
        "operationId": "getSnapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string"
                    },
                    "snapshot_name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "size_bytes": {
                      "type": "integer"
                    },
                    "node_count": {
                      "type": "integer"
                    },
                    "relationship_count": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "expired",
                        "deleted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/graph/diff": {
      "post": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Compare two graph snapshots",
        "description": "Compare two knowledge graph snapshots to identify changes.\n\nReturns detailed diff showing:\n- Nodes added/removed/modified\n- Relationships added/removed\n- Property changes\n- Statistical summary\n",
        "operationId": "compareGraphSnapshots",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_snapshot_id",
                  "target_snapshot_id"
                ],
                "properties": {
                  "source_snapshot_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Earlier snapshot (or \"current\" for live graph)"
                  },
                  "target_snapshot_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Later snapshot (or \"current\" for live graph)"
                  },
                  "diff_level": {
                    "type": "string",
                    "enum": [
                      "summary",
                      "detailed",
                      "full"
                    ],
                    "default": "summary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Snapshot comparison complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source_snapshot": {
                      "type": "string"
                    },
                    "target_snapshot": {
                      "type": "string"
                    },
                    "compared_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "nodes_added": {
                          "type": "integer"
                        },
                        "nodes_removed": {
                          "type": "integer"
                        },
                        "nodes_modified": {
                          "type": "integer"
                        },
                        "relationships_added": {
                          "type": "integer"
                        },
                        "relationships_removed": {
                          "type": "integer"
                        }
                      }
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "change_type": {
                            "type": "string",
                            "enum": [
                              "node_added",
                              "node_removed",
                              "node_modified",
                              "relationship_added",
                              "relationship_removed"
                            ]
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/axis/resolve": {
      "post": {
        "tags": [
          "17-Axis System"
        ],
        "summary": "Resolve query to 17-axis coordinate",
        "description": "Maps natural language query to complete 17-dimensional coordinate:\n- A1: Pillar (PL-0001 to PL-1107) - Knowledge domain\n- A2: Industry/Sector (NAICS, SIC, ISIC, NACE, etc.)\n- A3: Honeycomb (cross-domain links)\n- A4: Branch (hierarchical structure)\n- A5: Node (atomic knowledge units)\n- A6: Octopus (multi-directional relationships)\n- A7: Spiderweb (web of connections)\n- A8-A11: Quad Personas (Knowledge, Sector, Regulatory, Compliance experts)\n- A12: Location (geographic context)\n- A13: Time (temporal context)\n- A14: Stakeholder (perspective)\n- A15: Risk (assessment level)\n- A16: Trust (confidence threshold)\n- A17: Metadata (system context)\n\nReturns canonical coordinate string with confidence scores.\n",
        "operationId": "resolveAxes_fromQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Natural language query to map"
                  },
                  "hints": {
                    "$ref": "#/components/schemas/AxisHints",
                    "description": "Optional axis hints to guide resolution"
                  },
                  "include_confidence": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include confidence scores for each axis"
                  },
                  "include_alternatives": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include alternative coordinate mappings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "17-axis coordinate resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coordinate17Axis"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/axis/{axis_number}": {
      "get": {
        "tags": [
          "17-Axis System"
        ],
        "summary": "Get axis definition and possible values",
        "description": "Returns comprehensive metadata for specific axis including:\n- Taxonomy structure\n- Valid value ranges\n- Examples\n- Related axes\n- Usage guidelines\n",
        "operationId": "getAxisDefinition",
        "parameters": [
          {
            "name": "axis_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 17
            },
            "description": "Axis number (1-17)"
          }
        ],
        "responses": {
          "200": {
            "description": "Axis definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AxisDefinition"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/axis/coordinate/{coordinate}": {
      "get": {
        "tags": [
          "17-Axis System"
        ],
        "summary": "Lookup knowledge by coordinate",
        "description": "Retrieve knowledge graph nodes matching specific coordinate.\n\n**Coordinate Format**:\n\"A1:PL0012-A2:621111-A3:HC01-A4:B3-A5:N445-...\"\n\nSupports partial coordinates (e.g., just \"A1:PL0012-A2:621111\")\nfor broader queries.\n",
        "operationId": "getByCoordinate",
        "parameters": [
          {
            "name": "coordinate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^A1:[^-]+-A2:[^-]+.*"
            },
            "description": "17-axis coordinate (full or partial)"
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5,
              "default": 1
            },
            "description": "Graph traversal depth"
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge nodes matching coordinate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coordinate": {
                      "type": "string"
                    },
                    "match_type": {
                      "type": "string",
                      "enum": [
                        "exact",
                        "partial"
                      ]
                    },
                    "nodes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KnowledgeNode"
                      }
                    },
                    "total_matches": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/personas": {
      "get": {
        "tags": [
          "Quad Personas"
        ],
        "summary": "List available personas",
        "description": "Returns all four core personas derived from Axes 8-11:\n- Knowledge Expert (Axis 8)\n- Sector Specialist (Axis 9)\n- Regulatory Advisor (Axis 10)\n- Compliance Officer (Axis 11)\n",
        "operationId": "listPersonas",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persona list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/personas/{persona_id}/profile": {
      "get": {
        "tags": [
          "Quad Personas"
        ],
        "summary": "Get complete persona profile",
        "description": "Returns 7-part persona profile:\n1. Role\n2. Education\n3. Certifications\n4. Skills\n5. Traits\n6. Job Training\n7. Related Roles\n",
        "operationId": "getPersonaProfile",
        "parameters": [
          {
            "name": "persona_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "knowledge_expert",
                "sector_specialist",
                "regulatory_advisor",
                "compliance_officer"
              ]
            }
          },
          {
            "name": "domain_context",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domain context for persona specialization"
          }
        ],
        "responses": {
          "200": {
            "description": "Complete persona profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonaProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/personas/activate": {
      "post": {
        "tags": [
          "Quad Personas"
        ],
        "summary": "Activate personas for query",
        "description": "Activates specified personas with weighted contributions.\nReturns persona instances with domain-specific profiles.\n",
        "operationId": "activatePersonas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "coordinate",
                  "personas_enabled"
                ],
                "properties": {
                  "coordinate": {
                    "type": "string"
                  },
                  "personas_enabled": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "knowledge_expert",
                        "sector_specialist",
                        "regulatory_advisor",
                        "compliance_officer"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 4
                  },
                  "weights": {
                    "type": "object",
                    "properties": {
                      "knowledge_expert": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "sector_specialist": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "regulatory_advisor": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "compliance_officer": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personas activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonaActivation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulation/layers": {
      "get": {
        "tags": [
          "10-Layer Stack"
        ],
        "summary": "Get simulation layer definitions",
        "description": "Returns canonical 10-layer stack definition:\n- L1: Context Init & Parsing\n- L2: Retrieval & Traversal\n- L3: Research Agents\n- L4: Stakeholder POV\n- L5: Quad-Persona Debate\n- L6: Pattern Analysis + Quantitative Validation\n- L7: Scenario Simulation / Strategic Foresight\n- L8: Cross-verification + Consistency Validation\n- L9: Strategic Alignment\n- L10: Emergence Detection + Final Assembly\n",
        "operationId": "getSimulationLayers",
        "responses": {
          "200": {
            "description": "Layer definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimulationLayer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulation/execute": {
      "post": {
        "tags": [
          "10-Layer Stack"
        ],
        "summary": "Execute simulation stack",
        "description": "Runs 10-layer simulation with complexity-based routing.\nLayers invoked based on query tier (trivial/moderate/high_stakes/extreme/autonomous).\n",
        "operationId": "executeSimulation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "coordinate"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "coordinate": {
                    "$ref": "#/components/schemas/Coordinate17Axis"
                  },
                  "personas": {
                    "$ref": "#/components/schemas/PersonaActivation"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "layers_enabled": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10
                        }
                      },
                      "max_depth": {
                        "type": "integer",
                        "default": 5
                      },
                      "enable_emergent_synthesis": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulation/trace/{request_id}": {
      "get": {
        "tags": [
          "10-Layer Stack"
        ],
        "summary": "Get simulation execution trace",
        "description": "Returns detailed trace of layer execution for specific request",
        "operationId": "getSimulationTrace",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulation trace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationTrace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/refinement/steps": {
      "get": {
        "tags": [
          "12-Step Refinement"
        ],
        "summary": "Get refinement step definitions",
        "description": "Returns canonical 12-step refinement workflow:\n1. AoT (Algorithm of Thought)\n2. ToT (Tree of Thought)\n3. Gap Analysis\n4. Evidence Validation\n5. NLP Enhancement\n6. Data Consistency Validation\n7. Cross-Reference Validation\n8. Logic Check\n9. Ethical/Bias Audit\n10. Regulatory Compliance\n11. Security Validation\n12. Final Synthesis\n",
        "operationId": "getRefinementSteps",
        "responses": {
          "200": {
            "description": "Refinement step definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RefinementStep"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/refinement/validate": {
      "post": {
        "tags": [
          "12-Step Refinement"
        ],
        "summary": "Run refinement workflow",
        "description": "Executes 12-step refinement with iterative improvement until\nconfidence threshold (default 99.5%) is met or max iterations reached.\n",
        "operationId": "validateRefinement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "simulation_result"
                ],
                "properties": {
                  "simulation_result": {
                    "$ref": "#/components/schemas/SimulationResult"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "confidence_threshold": {
                        "type": "number",
                        "minimum": 0.0,
                        "maximum": 1.0,
                        "default": 0.995
                      },
                      "max_iterations": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10,
                        "default": 3
                      },
                      "steps_enabled": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 12
                        }
                      },
                      "compliance_frameworks": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refinement complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefinementResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/refinement/confidence/{request_id}": {
      "get": {
        "tags": [
          "12-Step Refinement"
        ],
        "summary": "Get confidence progression",
        "description": "Returns confidence score progression across refinement iterations",
        "operationId": "getConfidenceProgression",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confidence progression",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "iterations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iteration": {
                            "type": "integer"
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "step_scores": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/truth/gate/check": {
      "post": {
        "tags": [
          "Truth Engine"
        ],
        "summary": "TruthGate security and triage check",
        "description": "Performs TruthGate v7.3 security checks:\n- Adversarial input detection (Llama Guard 3 + Rebuff)\n- PII redaction (Presidio)\n- Drift detection\n- Budget enforcement\n- Priority assignment (P0-P5)\n- Tier classification (trivial/moderate/high_stakes/extreme/autonomous)\n",
        "operationId": "truthGateCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "user_context": {
                    "type": "object",
                    "properties": {
                      "user_id": {
                        "type": "string"
                      },
                      "tenant_id": {
                        "type": "string"
                      },
                      "budget_allocated": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Security check passed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TruthGateResult"
                }
              }
            }
          },
          "403": {
            "description": "Security check failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "adversarial_input",
                        "budget_exceeded",
                        "pii_detected"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/truth/core/models": {
      "get": {
        "tags": [
          "Truth Engine"
        ],
        "summary": "List available LLM backends",
        "description": "Returns LiteLLM router configuration showing available models:\n- Claude 4 Sonnet / Opus (analysis)\n- GPT-5 (default)\n- Grok-4 / Grok-4-Fast (reasoning)\n- Gemini 2.5 Pro (long context)\n- Llama 4.x (open source)\n- Codestral (code tasks)\n",
        "operationId": "listLLMModels",
        "responses": {
          "200": {
            "description": "Available models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "context_window": {
                            "type": "integer"
                          },
                          "cost_per_1k_tokens": {
                            "type": "number"
                          },
                          "recommended_for": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/truth/memory/audit/{audit_id}": {
      "get": {
        "tags": [
          "Truth Engine"
        ],
        "summary": "Retrieve audit trail",
        "description": "Returns complete TruthMemory v7.3 audit trail with 7-year retention:\n- Final answer\n- 17-axis coordinate trace\n- Persona inputs and weights\n- Layer execution log\n- Refinement iteration history\n- LLM provider and cost\n- Compliance attestation\n- Optional blockchain/Merkle hash\n",
        "operationId": "getAuditTrail",
        "parameters": [
          {
            "name": "audit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include_blockchain_hash",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit trail retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/truth/link/health": {
      "get": {
        "tags": [
          "Truth Engine"
        ],
        "summary": "TruthLink transport health",
        "description": "Returns TruthLink v7.3 health status:\n- PQ-gRPC transport status\n- Federated Redis Streams status\n- Istio AI mesh routing metrics\n- Message latency statistics\n",
        "operationId": "truthLinkHealth",
        "responses": {
          "200": {
            "description": "TruthLink healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "healthy",
                        "degraded",
                        "unhealthy"
                      ]
                    },
                    "transport": {
                      "type": "object",
                      "properties": {
                        "pq_grpc_active": {
                          "type": "boolean"
                        },
                        "quantum_safe": {
                          "type": "boolean"
                        }
                      }
                    },
                    "queue": {
                      "type": "object",
                      "properties": {
                        "redis_streams_available": {
                          "type": "boolean"
                        },
                        "multi_region_replication": {
                          "type": "boolean"
                        }
                      }
                    },
                    "latency_ms": {
                      "type": "object",
                      "properties": {
                        "p50": {
                          "type": "number"
                        },
                        "p95": {
                          "type": "number"
                        },
                        "p99": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/node/{node_id}": {
      "get": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Get knowledge node by ID",
        "description": "Retrieves specific knowledge node from Neo4j graph",
        "operationId": "getKnowledgeNode",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeNode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/pillar/{pillar_id}": {
      "get": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Get pillar taxonomy",
        "description": "Returns complete pillar taxonomy from PL1107 system.\nPillar IDs: PL-0001 to PL-1107\n",
        "operationId": "getPillar",
        "parameters": [
          {
            "name": "pillar_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^PL-?\\d{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pillar taxonomy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pillar_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "sub_pillars": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/knowledge/query": {
      "post": {
        "tags": [
          "Knowledge Graph"
        ],
        "summary": "Query knowledge graph",
        "description": "Execute Cypher query against Neo4j knowledge graph.\nSupports graph traversal and pattern matching.\n",
        "operationId": "queryKnowledgeGraph",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Cypher query or natural language"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "max_results": {
                    "type": "integer",
                    "default": 100
                  },
                  "pagination": {
                    "$ref": "#/components/schemas/PaginationParams"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/audit/{request_id}": {
      "get": {
        "tags": [
          "Audit & Compliance"
        ],
        "summary": "Get complete audit record",
        "description": "Returns full audit trail for specific request",
        "operationId": "getAuditRecord",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/audit/{request_id}/download": {
      "get": {
        "tags": [
          "Audit & Compliance"
        ],
        "summary": "Download audit trail",
        "description": "Downloads complete audit trail as JSON, PDF, CSV, XLSX, or compliance report.\nIncludes all decision paths, persona inputs, layer traces, and compliance checks.\n",
        "operationId": "downloadAuditTrail",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf",
                "csv",
                "xlsx",
                "compliance_report"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit trail file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrail"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/audit/{request_id}/export": {
      "get": {
        "tags": [
          "Audit & Compliance"
        ],
        "summary": "Export audit trail with compliance formatting",
        "description": "Export audit trail formatted for specific compliance framework",
        "operationId": "exportAuditTrail",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf",
                "csv",
                "xlsx",
                "compliance_report"
              ],
              "default": "compliance_report"
            }
          },
          {
            "name": "compliance_framework",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "GDPR",
                "HIPAA",
                "SOC2",
                "EU_AI_Act",
                "FedRAMP",
                "ISO27001"
              ]
            }
          },
          {
            "name": "include_blockchain_proof",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance-formatted audit export"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/compliance/frameworks": {
      "get": {
        "tags": [
          "Audit & Compliance"
        ],
        "summary": "List supported compliance frameworks",
        "description": "Returns supported compliance frameworks:\n- GDPR\n- HIPAA\n- SOC 2\n- EU AI Act\n- FedRAMP\n- NIST 800-53\n- ISO 27001\n",
        "operationId": "listComplianceFrameworks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance frameworks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/compliance/check": {
      "post": {
        "tags": [
          "Audit & Compliance"
        ],
        "summary": "Check compliance for query/response",
        "description": "Validates query and response against specified compliance frameworks",
        "operationId": "checkCompliance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "response",
                  "frameworks"
                ],
[...]
